@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Roboto: ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,700&display=swap");
: root {--roboto: "Noto Sans TC", 'Roboto', sans-serif
}
: root {
	--black-bold: 900;
	--extra-bold: 800;
	--bold: 700;
	--semi-bold: 600;
	--medium: 500;
	--light: 300;
	--regular: 400
}
: root {
	--body-clr-txt: #555555;
	--font-clr-txt: #152535;
	--black-txt: #000;
	--white-txt: #fff;
	--gainsboro-txt: #DADADA;
	--snow-txt: #F9F9F9;
	--sky-blue-txt: #00C2FF;
	--radical-red-txt: #FF175C;
	--primary-txt: #223FDC;
	--number-color: rgba(0, 0, 0, 0.02);
	--general-menu-a-color: rgba(255, 255, 255, 0.6);
	--texas-color: rgba(0, 133, 255, 0.4);
	--body-clr-bg: #555555;
	--font-clr-bg: #152535;
	--black-bg: #000;
	--white-bg: #fff;
	--gainsboro-bg: #DADADA;
	--snow-bg: #F9F9F9;
	--primary-bg: #223FDC;
	--radical-red-bg: #FF175C;
	--warning-bg: #FFA100;
	--sky-blue-bg: #00C2FF;
	--w-light: #FAFAFA;
	--dark-btn-hvr-bg: #031120;
	--general-search-input-bg: rgba(255, 255, 255, 0.2);
	--foter-with-shape-bg: #01022C;
	--counter-dot: #0C104E;
	--gallery-v1-img-bg: #010910;
	--share-idea-v2-bg: #FDFDFD;
	--share-idea-v2-shape-bg: #F9F9FC;
	--pricing-tbl-item-bg: #F9F9F9;
	--faq-bg: rgba(218, 218, 218, 0.15);
	--section-title-v2-span-clr: rgba(21, 37, 53, 0.02);
	--body-clr-bdr: #555555;
	--font-clr-bdr: #152535;
	--black-bdr: #000;
	--white-bdr: #fff;
	--gainsboro-bdr: #DADADA;
	--snow-bdr: #F9F9F9;
	--primary-bdr: #223FDC;
	--radical-red-bdr: #FF175C;
	--warning-bdr: #FFA100;
	--whisper-bdr: #EEEEEE;
	--sky-blue-bdr: #00C2FF;
	--news-v1-border: rgba(255, 23, 92, 0.15);
	--mega-menu-bg: rgba(255, 255, 255, 0.7);
	--transprent-megamenu-bg: rgba(0, 22, 147, 0.7);
	--transprent-hdr-search-bg: rgba(21, 37, 53, 0.7);
	--subscribe-input-bg: rgba(255, 255, 255, 0.1);
	--popup-vdo-icn-bg: rgba(0, 3, 17, 0.3);
	--visitor-image-bg: rgba(21, 37, 53, 0.8);
	--faq-shadow: rgba(0, 0, 0, 0.07);
	--v1-color: rgba(0, 0, 0, 0.02);
	--gradient-primary: linear-gradient(53.28deg, #223FDC 4.8%, #FF175C 86.91%);
	--gradient-secondary: linear-gradient(53.28deg, #FFA100 4.8%, #FF175C 86.91%);
	--general-submenu-bg: linear-gradient(0deg, #FF6B17 0%, rgba(255, 23, 92, 0) 100%);
	--general-megamenu-bg: linear-gradient(53.28deg, rgba(255, 161, 0, 0.8) 4.8%, rgba(255, 23, 92, 0.8) 86.91%);
	--transprent-submenu-bg: linear-gradient(0deg, #0085FF 0%, rgba(0, 27, 173, 0) 100%);
	--about-socail-bg: linear-gradient(189.76deg, #FF175C 7.34%, rgba(255, 23, 92, 0) 69.75%);
	--news-hover: linear-gradient(53.28deg, rgba(255, 161, 0, 0.03) 4.8%, rgba(255, 23, 92, 0.03) 86.91%);
	--inner-page-v1-register-from-bg: linear-gradient(53.28deg, rgba(255, 161, 0, 0.7) 4.8%, rgba(255, 23, 92, 0.7) 86.91%);
	--landing-gallery-overlay: linear-gradient(0deg, #FF6B17 0%, rgba(255, 23, 92, 0) 100%);
	--gradient-primary-btn: linear-gradient(to right, #FF175C, #223FDC, #FF175C);
	--gradient-secondary-btn: linear-gradient(to right, #296678, #B5BDBB, #ECD2C4);
	--header-v1-sdo: rgba(0, 0, 0, 0.05);
	--landing-v2-hero-bg: #001BAD;
	--landing-v2-section-bg-1: #001693;
	--landing-v2-section-bg-2: #011583;
	--landing-v2-about-overlay: linear-gradient(180deg, #FF175C 0%, rgba(0, 27, 173, 0) 100%);
	--l-schedule-btn-bg: linear-gradient(55.1deg, #223FDC -11.85%, #FF175C 124.23%);
	--nav-button-bg: #001693;
	--news-overlay: linear-gradient(55.1deg, rgba(34, 63, 220, 0.7) -11.85%, rgba(255, 23, 92, 0.7) 124.23%);
	--show-pagees-bg: #060F3A;
	--demo-section-span: rgba(18, 19, 20, 0.03)
}
: root {
	--text-12: 12px;
	--text-13: 13px;
	--text-15: 15px;
	--text-16: 16px;
	--text-17: 17px;
	--text-18: 18px;
	--text-19: 19px;
	--text-20: 20px;
	--text-24: 24px;
	--text-30: 30px;
	--text-48: 48px;
	--text-90: 90px
}
: root {
	--ease-in: .3s ease-in;
	--ease-in-out: .3s ease-in-out
}
: root {
	--container: 1575px
}
@media screen and (max-width: 1600px) {
	: root {
	--container: 1400px
}
}@media screen and (max-width: 1390px) {
	: root {
	--container: 1140px
}
}@media screen and (max-width: 991px) {
	: root {
	--container: 960px
}
}@media screen and (max-width: 767px) {
	: root {
	--container: 720px
}
}@media screen and (max-width: 575px) {
	: root {
	--container: 540px
}
}* {
	box-sizing: border-box
}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	box-sizing: border-box
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display: block
}
a,ol,ul {
	list-style: none;
	list-style-type: none;
	text-decoration: none
}
blockquote,q {
	quotes: none
}
blockquote: before,blockquote: after,q: before,q: after {
	content: '';
	content: none
}
img {
	max-width: 100%;
	vertical-align: middle
}
h1,h2,h3,h4,h5,h6 {
	font-family: var(--roboto);
	line-height: 1.5;
	color: var(--font-clr-txt)
}
h1 {
	font-size: 48px;
	font-weight: 700
}
h2 {
	font-size: 36px
}
h3 {
	font-size: 30px
}
h4 {
	font-size: 24px
}
h5 {
	font-size: 16px
}
h6 {
	font-size: 16px;
    font-weight: 300;
}
p {
	line-height: 1.5;
	font-weight: 400;
	font-size: 16px;
	margin: 0;
	padding: 0
}
a: hover {
	text-decoration: none
}
body {
	font-family: var(--roboto);
	color: var(--body-clr-txt);
	position: relative
}
body: : -webkit-scrollbar {
	width: 6px
}
body: : -webkit-scrollbar-track {
	background-color: var(--gainsboro-bg)
}
body: : -webkit-scrollbar-thumb {
	background: var(--gradient-primary)
}
body: : after {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(255,255,255,0.1);
	z-index: 9;
	opacity: 0;
	visibility: hidden;
	transition: backdrop-filter 0.4s;
	backdrop-filter: blur(10px) opacity(0);
	transition: all .4s ease-in-out
}
body.overlay {
	overflow: hidden !important;
	transition: all .4s ease-in-out
}
body.overlay: after {
	opacity: 1;
	visibility: visible;
	backdrop-filter: blur(10px) opacity(1)
}
@media (min-width: 1400px) {
	.container,.container-lg,.container-md,.container-sm,.container-xl,.container-xxl {
	max-width: var(--container)
}
}svg {
	max-height: 50px;
	max-width: 50px
}
svg path.svg-theme {
	fill: var(--theme-color)
}
button {
	background-color: transparent;
	border: none;
	border-radius: 0px
}
button: focus {
	outline: 0;
	box-shadow: none
}
.btn {
	font-size: 18px;
	font-weight: 400;
    letter-spacing: 2px;
	line-height: 1.5;
	color: var(--white-txt);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	background: var(--font-clr-bg);
	transition: var(--ease-in-out);
	position: relative;
	z-index: 9
}
.btn: hover {
	background-color: var(--dark-btn-hvr-bg);
	color: #fff
}
.btn: focus {
	outline: 0;
	box-shadow: none
}
.btn i {
	font-size: 20px;
	margin-left: 5px
}
.btn-lg-space {
	padding: 15px 30px
}
.btn-md-space {
	padding: 15px 20px
}
.btn-sm-space {
	padding: 6px 18px
}
.btn-txt-dark {
	color: var(--font-clr-txt)
}
.btn-txt-whit {
	color: var(--white-txt)
}
.btn-bg-dark {
	background-color: var(--font-clr-bg)
}
.btn-bg-g-primary {
	background: var(--gradient-primary-btn);
	background-size: 200%
}
.btn-bg-g-primary: hover {
	background-position: right
}
.btn-bg-g-secondary {
	background: var(--gradient-secondary-btn);
	background-size: 200%;
	background-position: right
}
.btn-bg-g-secondary: hover {
	background-position: left
}
.b-r-0 {
	border-radius: 0
}
@media screen and (max-width: 767px) {
	.btn-lg-space {
	padding: 13px 25px
}
.btn {
	font-size: 16px
}
.btn-md-space {
	padding: 12px 15px
}
}
